<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.king.project.peotry.mapper.PeotryAuthorMapper">

    <resultMap type="org.king.project.peotry.domain.PeotryCollection" id="PeotryCollectionResult">
        <id     property="peotryId"     column="peotry_id"     />
        <result property="peotryName"   column="peotry_name"   />
        <result property="authorId"  column="author_id"   />
        <result property="originalContent"   column="original_content"   />
        <result property="translationContent"     column="translation_content"      />
        <result property="rank"      column="rank"       />
        <result property="pronunciation"      column="pronunciation"       />
        <result property="createTime"     column="create_time"      />
    </resultMap>

    <resultMap id="authorResult" type="org.king.project.peotry.domain.PeotryAuthor">
        <id     property="authorId"   column="author_id"     />
        <result property="authorName" column="author_name"   />
        <result property="introduction" column="introduction"   />
        <result property="peotryIds" column="peotry_ids"   />
        <result property="createTime"   column="create_time"   />
        <result property="dynasty"   column="dynasty"   />
        <collection  property="collections"   javaType="java.util.List"  resultMap="PeotryCollectionResult" />
    </resultMap>

    <sql id="selectAuthorCollectionVo">
        select sys_peotry_collection.peotry_id, sys_peotry_collection.peotry_name, sys_peotry_collection.author_id, sys_peotry_collection.original_content, sys_peotry_collection.translation_content, sys_peotry_collection.rank, sys_peotry_collection.pronunciation, sys_peotry_collection.create_time,
        sys_peotry_author.author_id,sys_peotry_author.author_name,sys_peotry_author.introduction,sys_peotry_author.peotry_ids,sys_peotry_author.create_time,sys_peotry_author.dynasty
        from sys_peotry_author inner join sys_peotry_collection on sys_peotry_author.author_id = sys_peotry_collection.author_id
    </sql>

    <select id="getAuthorById" parameterType="java.lang.Long" resultMap="authorResult">
        <include refid="selectAuthorCollectionVo"/>
        where 1=1
            AND sys_peotry_author.author_id = #{authorId}
    </select>


</mapper>